<launch>
  <!-- Arguments -->
  <!--arg name="map_file" default="$(find irop_navigation)/maps/map.yaml"/-->
   <arg name="map_file" default="$(find robot_navigation)/maps/map_2d_Acad.yaml"/>
  <arg name="open_rviz" default="true"/>

  <!-- Bringup irop_remote -->
<include file="$(find robot_bringup)/launch/robot_remote.launch"/>

<!-- Bringup irop_scan_merge 
<include file="$(find irop_bringup)/launch/irop_scan_merge.launch"/>
-->

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" output="log"/>

  <!-- AMCL -->
  <include file="$(find robot_navigation)/launch/sim_amcl.launch"/>

  <!-- move_base -->
  <include file="$(find robot_navigation)/launch/sim_move_base.launch">
        
  </include>

 <!-- rviz >-->

  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find robot_navigation)/config/nav_config.rviz"/>
  </group>

</launch>
